<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
           <a href="/"><img src="/images/logo.png" alt="Logo" class="logo" /></a>
      <div>
        <a href="/"><button>Home</button></a>
        <a href="/debugPage"><button>Debug DB</button></a>
        <% if(username) {%> You are logged in <a href="/users/profile/<%=username%>" class="login"><%=username%></a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login"><button>Login</button></a>
        <%}%>
        <a href="/users/register"><button>Register</button></a>
      </div>
    </nav>

    <a href="/subs/show/<%= article.sub_name %>" class="a">back to <%= article.sub_name %></a>

    <h1><%= article.title %></h1>
    <div>
      vote : <%= articleVote %> <% if (username) { %>
      <form method="post" action="/articles/vote/<%= article.id %>/<%= +1 %>">
        <button type="submit" class="up <%= article.current_vote?.vote_value === 1 ? 'upvoted' : '' %>">↑</button>
      </form>
      <form method="post" action="/articles/vote/<%= article.id %>/<%= -1 %>">
        <button type="submit" class="down <%= article.current_vote?.vote_value === -1 ? 'downvoted' : '' %>">↓</button>
      </form>
      <% } %>
    </div>

    <% if (isImage) { %>
    <img src="<%= article.link %>" alt="Article Image" />
    <% } else { %>
    <p><a href="<%= article.link %>"><%= article.link %></a></p>
    <% } %>

    <p><a href="<%= article.link %>"><%= article.link %></a></p>
    <p>posted by <a href=""><%= article.creator.username %></a></p>

    <p><%= article.text %></p>
    <% if(username === article.creator.username) { %>
    <a href="/articles/edit/<%= article.id %>"><button>Edit</button></a>
    <a href="/articles/delete/<%= article.title %>"><button>Delete</button></a>
    <% } %> <% if (comments.length > 0) { %>
    <h1>Comments</h1>
    <div class="dropdown">
      <select onchange="orderingCb(comment)">
        <option value="new" <%= ordering === 'new' ? 'selected' : '' %>>New</option>
        <option value="old" <%= ordering === 'old' ? 'selected' : '' %>>Old</option>
        <option value="top" <%= ordering === 'top' ? 'selected' : '' %>>Top</option>
        <option value="down" <%= ordering === 'down' ? 'selected' : '' %>>down</option>
      </select>
  </div>

    <% comments.forEach((comment, i) => { %>
    <div>
      <%= commentVote[i] %> <% if (username) { %>
      <form method="post" action="/comments/vote/<%= comment.id %>/<%= +1 %>">
        <button type="submit" class="up <%= comment.current_vote?.vote_value === 1 ? 'upvoted' : '' %>">↑</button>
      </form>
      <form method="post" action="/comments/vote/<%= comment.id %>/<%= -1 %>">
        <button type="submit" class="down <%= comment.current_vote?.vote_value === -1 ? 'downvoted' : '' %>">↓</button>
      </form>
      <% } %>

      <a href="/users/profile/<%= comment.creator.username %>" class="comment"><%= comment.creator.username %></a>
      <a href="/comments/show/<%= comment.id %>">"<%= comment.text %>"</a>
      <%= new Date(comment.ts) %> <% if(username === comment.creator.username) { %>
      <a href="/comments/edit/<%= comment.id %>" class="comment">Edit</a>
      <a href="/comments/delete/<%= comment.id %>" class="comment">Delete</a>
      <% } %>
    </div>

    <% }); %> <% } %> <br />

    <h1>New comment</h1>
    <form action="/comments/create/<%= article.id  %>" method="post">
      Comments:<br />
      <textarea name="comment" cols="25" rows="5"></textarea>
      <br />
      <button type="submit">New comment</button>
    </form>
  </body>
</html>
