<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/"><img src="/images/logo.png" alt="Logo" class="logo" /></a>
      <div>
        <a href="/"><button>Home</button></a>
        <a href="/debugPage"><button>Debug DB</button></a>
        <% if(username) {%> You are logged in <a href="/users/profile/<%=username%>" class="login"><%=username%></a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login"><button>Login</button></a>
        <a href="/users/register"><button>Register</button></a>
        <%}%>
      </div>
    </nav>
    <header>Edit comment</header>
    <br />

    <form action="/comments/edit/<%= commentId %>" method="post">
      Comment:<br />
      <textarea name="contents" cols="25" rows="5"><%= comment[0].text %></textarea> <br />
      <div class="centered-buttons">
        <button type="submit">Edit</button>
        <button type="button" onclick="location.href='/comments/show/<%= commentId %>'">Never Mind!</button>
      </div>
    </form>
  </body>
</html>
