<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment</title>
    <link rel="stylesheet" href="/styles/articlesANDcomments.css" />
  </head>
  <body>
    <nav>
      <img src="https://download.logo.wine/logo/Reddit/Reddit-Logo.wine.png" alt="Logo" class="logo" />
      <div>
        <a href="/"><button>Home</button></a>
        <a href="/debugPage"><button>Debug DB</button></a>
        <% if(username) {%> You are logged in <a href="/users/profile/<%=username%>" class="login"><%=username%></a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login"><button>Login</button></a>
        <%}%>
        <a href="/users/register"><button>Register</button></a>
      </div>
    </nav>

    <a href="/articles/show/<%= comment.article_id %>" class="a">back to article</a>

    <h1>Comment</h1>
    <h2><%= comment.creator.username %></h2>

    vote:<%= commentVote %> <% if (username) { %>
    <form method="post" action="/comments/vote/<%= comment.id %>/<%= +1 %>">
      <button type="submit" class="up <%= comment.current_vote?.vote_value === 1 ? 'upvoted' : '' %>">↑</button>
    </form>
    <form method="post" action="/comments/vote/<%= comment.id %>/<%= -1 %>">
      <button type="submit" class="down <%= comment.current_vote?.vote_value === -1 ? 'downvoted' : '' %>">↓</button>
    </form>
    <% } %>

    <p><%= comment.text %></p>
    <p>at <%= new Date(comment.ts) %></p>
    <% if(username === comment.creator.username) { %>
    <a href="/comments/edit/<%= commentId %>"><button>Edit</button></a>
    <a href="/comments/delete/<%= commentId %>"><button>Delete</button></a>
    <% } %>
  </body>
</html>
