<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/styles/profile.css" />
  </head>

  <body>
    <nav>
      <img src="https://download.logo.wine/logo/Reddit/Reddit-Logo.wine.png" alt="Logo" class="logo" />
      <div>
        <a href="/"><button>Home</button></a>
        <a href="/debugPage"><button>Debug DB</button></a>
        <% if(user) { %> You are logged in <a href="/users/profile/<%=user%>" class="login"><%=user%></a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login"><button>Login</button></a>
        <% } %>
        <a href="/users/register"><button>Register</button></a>
      </div>
    </nav>

    <h1><%= user %>'s profile</h1>

    <h2>Articles:</h2>
    <%- include('orderby') %><br />
    <ul>
      <% for (let i = 0; i < articles.length; i++) { %>
      <li>
        <%= articleVote[i].totalVotes %> <% if (username) { %>
        <form method="post" action="/articles/vote/<%= articles[i].id %>/<%= +1 %>">
          <button type="submit" class="up <%= article[i].current_vote?.vote_value === 1 ? 'upvoted' : '' %>">↑</button>
        </form>
        <form method="post" action="/articles/vote/<%= articles[i].id %>/<%= -1 %>">
          <button type="submit" class="down <%= article[i].current_vote?.vote_value === -1 ? 'downvoted' : '' %>">↓</button>
        </form>
        <% } %>

        <a href="/articles/show/<%=articles[i].id%>"><%= articles[i].title %></a>
      </li>
      <% } %>
    </ul>
    <h2>Comments:</h2>
    <%- include('orderby') %><br />
    <ul>
      <% for (let i = 0; i < comments.length; i++) { %>
      <li>
        <%= commentVote[i].totalVotes %> <% if (username) { %>
        <form method="post" action="/comments/vote/<%= comments[i].id%>/<%= +1 %>">
          <button type="submit" class="up <%= comment[i].current_vote?.vote_value === 1 ? 'upvoted' : '' %>">↑</button>
        </form>
        <form method="post" action="/comments/vote/<%= comments[i].id %>/<%= -1 %>">
          <button type="submit" class="down <%= comment[i].current_vote?.vote_value === -1 ? 'downvoted' : '' %>">↓</button>
        </form>
        <% } %> <%= new Date(comments[i].ts) %> :
        <a href="/comments/show/<%= comments[i].id %>"><%= comments[i].text %></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
