<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Subreddit</title>
    <link rel="stylesheet" href="/styles/subs.css" />
  </head>
  <body>
    <nav>
      <img src="https://download.logo.wine/logo/Reddit/Reddit-Logo.wine.png" alt="Logo" class="logo" />
      <div>
        <a href="/"><button>Home</button></a>
        <a href="/debugPage"><button>Debug DB</button></a>
        <% if(username) {%> You are logged in <a href="/users/profile/<%=username%>" class="login"><%=username%></a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login"><button>Login</button></a>
        <%}%>
        <a href="/users/register"><button>Register</button></a>
      </div>
    </nav>

    <h1>Create A New Subreddit by "<%= sub %>"</h1>

    <form action="/subs/create/<%= sub %>" method="post">
      <div>
        New Subreddit Name:<br />
        <input type="text" name="name" />
      </div>
      <br />

      Creator:<a href="/users/profile/<%=username%>"><%=username%></a><br />

      <button type="submit">Create the Subreddit!</button>
    </form>
    <form action="/subs/list">
      <button type="submit">Never Mind!</button>
    </form>
  </body>
</html>
