<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subreddit <%= sub %></title>
    <link rel="stylesheet" href="/styles/subs.css" />
  </head>
  <body>
    <nav>
      <a href="/"><img src="/images/logo.png" alt="Logo" class="logo" /></a>
      <div>
        <a href="/"><button>Home</button></a>
        <a href="/debugPage"><button>Debug DB</button></a>
        <% if(username) { %> You are logged in <a href="/users/profile/<%=username%>" class="login"><%=username%></a>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <a href="/users/login"><button>Login</button></a>
        <a href="/users/register"><button>Register</button></a>
        <% } %>
      </div>
    </nav>

    <h1>Welcome to "<%= sub %>"</h1>
    <a href="/subs/list" class="a">back to list</a><br />

    <h2>Top Articles</h2>
    <form action="/subs/show/<%= sub %>"><%- include('order_by') %></form>
    <ul>
      <% for (let i = 0; i < articles.length; i++) { %>
      <li>
        <%= vote[i] %> <% if (username) { %>
        <form method="post" action="/articles/vote/<%= articles[i].id %>/<%= +1 %>">
          <button type="submit" class="up <%= article[i].current_vote?.vote_value === 1 ? 'upvoted' : '' %>">↑</button>
        </form>
        <form method="post" action="/articles/vote/<%= articles[i].id %>/<%= -1 %>">
          <button type="submit" class="down <%= article[i].current_vote?.vote_value === -1 ? 'downvoted' : '' %>">↓</button>
        </form>
        <% } %>
        <a href="/articles/show/<%= articles[i].id %>"><%= articles[i].title %></a>
        (<%= new Date(articles[i].ts) %>)
      </li>
      <% } %>
    </ul>
    <a href="/articles/create/<%= sub %>"><button>Create an article in <%= sub %></button></a>
  </body>
</html>
